//@import '../node_modules/bootstrap/scss/bootstrap';
$open-sans: 'Open Sans', sans-serif;
$manjari: 'Manjari', sans-serif;
$mont: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;
$primaryColor: darkslategray;
$secondColor: #ffffff;
$thirdColor: #000000;
$forthColor: #eece1a;
$bgOpacity: 0.3;
$showHero: true;
$hero: url("../assets/images/hero-web.jpg");
$profilePic: url("../assets/images/me-prof.jpg");
$profilePicSM: url("../assets/images/me-prof-sm.jpg");

@mixin easeOut {
    transition: all 0.7s ease-out;
}
@mixin backGround {
    @if $showHero {
        &#hero {
            background: $hero;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            &:after {z-index: 0;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -5;
                background: rgba($primaryColor, $bgOpacity);
                
            }
        }
    }
}

@function set-text-color($color) {
    @if(lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}
* {
    box-sizing: border-box;
}
body {
    @include backGround();
    background: $primaryColor;
    color: set-text-color($primaryColor);
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;

}

h1, h2, h3, h4 ,h5, h6 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        padding: 0.2rem 1rem;
        margin-bottom: 2rem;
        background: rgba(lighten($primaryColor, 2), 0.5);
    }
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $forthColor;
    &.skill-heading{
        text-align: center;
        padding: 20px;
        font-size: 2rem;
    }
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem; 
            &:hover {
                color: $forthColor;
                @include easeOut();
            }
        }

    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 30vh;
        }
    }
}
/*-------------MENU-------------*/
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut();
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primaryColor);
        @include easeOut();
    }
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // Line 1 rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px);
            }
            // line 2 dissappear
            &:nth-child(2){
                opacity: 0;
            }
            // line 3 rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(12px, -6px);
            }
        }
    }
}

// Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    @include easeOut();
    &.show {
        visibility: visible;
        opacity: 1;
    }
    &-brand, 
    &-nav {
        display: flex;
        flex-flow: column wrap; 
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden; 
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primaryColor, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut();
        &.show {
            transform: translate3d(0, 0, 0);    
        }
    }

    &-brand {
        background: $primaryColor;
        transform: translate3d(0, 100%, 0);
        @include easeOut();
        
        &.show {
            transform: translate3d(0, 0, 0);    
        }

        .profile-img {
            width: 250px;
            height: 250px;
            background: $profilePic;
            border-radius: 50%;
            border: solid 3px $forthColor;
        }
    }
    
    .menu-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut();
        &.show {
            transform: translate3d(0, 0, 0);    
        }
        &.current > a{
            color: $forthColor;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primaryColor);
        text-decoration: none;
        @include easeOut();

        &:hover {
            color: $forthColor;
        }
    }
}
// ABOUT ME
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $forthColor 3px solid;
    }
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    .job {
        background: lighten($primaryColor, 5);
        padding: 2rem;
        border-bottom: solid 5px $forthColor;
    }
    .job1 {
        grid-area: job-1;
    }
    
    .job2 {
        grid-area: job-2;
    }
    
    .job3 {
        grid-area: job-3;
    }
}

// PROJECTS
.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    img {
        width: 100%;
        height: 350px;
        border: 3px #fff solid;
        &:hover {
            opacity: 0.5;
            border-color: $forthColor;
            @include easeOut();
        }
    }


}

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;
    &:hover {
        background: #eece1a;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primaryColor, 50);

}
.btn-light {    
    @extend .btn;
    background: lighten($primaryColor, 50);
    color: #000;
}
// Work-projects
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primaryColor, 5);
    height: 60px;
}

// Skills
#skills {
    .lg-heading {
        font-size: 4rem;
    }
}
.skills-info {
   .skill-set{
        display: grid;
        grid-gap: 30px;
        text-align: center;
        grid-template-areas: 
        'skill1 skill2 skill3 skill4'
        ;
        grid-template-columns: repeat(4, 1fr) ;
        .skill1 {
            grid-area: skill-1;
        }
        .skill2 {
            grid-area: skill-2;
        }
        .skill3 {
            grid-area: skill-3;
        }
        .skill4 {
            grid-area: skill-4;
        }
    }
    .skill-pglang{
        display: grid;
        grid-gap: 30px;
        text-align: center;
        grid-template-areas: 
        'pglang1 pglang2 pglang3 pglang4'
        'pglang pglang5 pglang6 pglang'
        ;
        grid-template-columns: repeat(4, 1fr) ;
        .pglang1 {
            grid-area: pglang-1;
        }
        
        .pglang2 {
            grid-area: pglang-2;
        }

        .pglang3 {
            grid-area: pglang-3;
        }

        .pglang4 {
            grid-area: pglang-4;
        }
        
        .pglang5 {
            grid-area: pglang-5;
        }
        
        .pglang6 {
            grid-area: pglang-6;
        }
        .pglang-5 {
            grid-column: 2;
        }
        .pglang-title {
            display: inline-flex;
            i {
                font-size: 3rem;
            }
            h3 {
                padding: 8px 10px;
            }
            .csharp {
                font-size: 2rem;
            }
        }
    }
    .skill-fwork{
        display: grid;
        grid-gap: 30px;
        text-align: center;
        grid-template-areas: 
        'fwork1 fwork2 fwork3 fwork4'
        ;
        grid-template-columns: repeat(4, 1fr) ;
        .fwork1 {
            grid-area: fwork-1;
        }
        
        .fwork2 {
            grid-area: fwork-2;
        }

        .fwork3 {
            grid-area: fwork-3;
        }

        .fwork4 {
            grid-area: fwork-4;
        }
        .fwork-title {
            display: inline-flex;
            i {
                font-size: 3rem;
                padding-right: 1rem;
            }
            h3 {
                padding: 7px 8px;
            }
        }
        
    }
}
// Contact Me
.contact-details {
    text-align: center;
    .contact-list {
        list-style: none;
        padding-inline-start: 0;
        .contact-list-item {
            line-height: 2rem;
        }
    }
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.3rem;
    div {
        font-size: 2rem;
        text-align: center;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        border-radius: 5px;
        border: white 3px solid;
        @include easeOut();
        &:hover {
            box-shadow: 15px 15px 25px 12px black;
        }
    }
}
// Delay each nav item
@for $x  from 1 through 4 {
    .menu-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}




// Media Query Mixins

@mixin mediaSM {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMD {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLG {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px){
        @content;
    }
}

// MOBILE SCSS

@include mediaXL {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include mediaLG {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .skills-info {
        .skill-set{
             display: grid;
             grid-template-areas: 
             'skill1 skill2'
             'skill3 skill4'
             ;
             grid-template-columns: repeat(2, 1fr) ;
         }
        .skill-pglang{
            display: grid;
            grid-template-areas: 
            'pglang1 pglang2'
            'pglang3 pglang4'
            'pglang5 pglang6'
            ;
            grid-template-columns: repeat(2, 1fr);
            .pglang-5 {
                grid-column: 1;
            }
        }
        .skill-fwork{
            display: grid;
            grid-template-areas: 
            'fwork1 fwork2'
            'fwork3 fwork4'
            ;
            grid-template-columns: repeat(2, 1fr) ;
        }
     }
}

@include mediaMD {
    main {
        align-items: center;
        text-align: center;
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-brand {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 1.5rem;
        .menu-item {
            transform: translate3d(-100%, 0, 0);
        }
    }

    .menu-brand{
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        .profile-img {
            height: 150px;
            width: 150px;
            background: $profilePicSM;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr; 
    }

    .projects {
        grid-template-columns: 1fr;
    }
    #skills .lg-heading {
        font-size: 3rem;
    }
    .skills-info {
        .skill-set{
            display: grid;
            grid-template-areas: 
            'skill1'
            'skill2'
            'skill3'
            'skill4'
            ;
            grid-template-columns: 1fr;
        }
        .skill-pglang{
            display: grid;
            grid-template-areas: 
            'pglang1'
            'pglang2'
            'pglang3' 
            'pglang4'
            'pglang5'
            'pglang6'
            ;
            grid-template-columns: 1fr;
            .pglang-5 {
                grid-column: 1;
            }
        }
        .skill-fwork{
            display: grid;
            grid-template-areas: 
            'fwork1'
            'fwork2'
            'fwork3'
            'fwork4'
            ;
            grid-template-columns: 1fr;
        }
    }

}

@include mediaSM {
    main#home h1 {
        margin-top: 10vh;
        font-size: 5rem;
    }
}