@import '../node_modules/bootstrap/scss/bootstrap';

.my-portfolio-hero {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/hero-web.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    position: fixed;
}

.my-portfolio-hero-text {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    color:white;
    h1{
        margin-bottom: 0px;
    }
    .my-pic{
        border-radius: 50%;
        width: 200px;
    }
    .subtext{
        font-size: 2rem;
        margin-bottom: 0px;
        white-space: nowrap;
    }
    .social-media {
        font-size: 2rem;
    }
}