.about-me {
    transition: 1s;
    display: grid;
    color: #fff;
    grid-template-columns: 70% 30%;
    position: relative;
    top: 30vh;
    .aboutMe-item {
        .aboutMe-name {
            border-left: solid 0.5rem  #fff;
            padding: 1.5rem;
            animation: leftIn 1.5s;
            h1 {
                // font-family: 'Bowlby One SC', cursive;
                font-family: 'Bungee', cursive;
                // font-family: 'Staatliches', cursive;
                font-size: 4rem;
            }
            h2 {
                font-family: 'Staatliches', cursive;
                font-size: 2rem;
            }
        }
        &:nth-child(2){
            animation: rightIn 2s;
            h3{
                font-size: 3rem;
            }
            p {
                
            width: 100%;
            height: 100px;
                font-size: .8rem;
                overflow-y: auto;

            }
        }

    }
}

@keyframes leftIn {
    from {
        transform: translate(-100%,0);
    }

    to {

        transform: translate(0,0);
    }
}

@keyframes rightIn {
    from {
        opacity: 0;
        transform: translate(100%,0);
    }

    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (min-width: 300px) and (max-width: 575.98px){
    .about-me {
        top: 5vh ;
        grid-template-columns: repeat(1, 100%);
        text-align: center;
        .aboutMe-item {
            .aboutMe-name {
                border-left: none;
                padding: 0px;
                h1 {
                    font-size: 1.9rem ;
                }
                h2 {
                    font-size: 1.2rem ;
                }
            }
            &:nth-child(2){
                height: 120px ;
                h3{
                    font-size: 1.4rem ;
                }
                p {
                    display: inline-block;
                    width: 290px ;
                }
            }
    
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media only screen and (min-width: 575px) and (max-width: 767.98px) { 
    .about-me {
        top: 5vh ;
        grid-template-columns: repeat(1, 100%);
        text-align: center;
        .aboutMe-item {
            .aboutMe-name {
                border-left: none;
                padding: none ;
                h1 {
                    font-size: 2.2rem;
                }
                h2 {
                    font-size: 1.6rem;
                }
            }
            &:nth-child(2){
                height: 120px ;
                h3{
                    font-size: 2rem;
                }
                p {
                    display: inline-block;
                    width: 550px;
                }
            }
    
        }
    }
}

// Medium devices (tablets, less than 992px)
@media only screen and (min-width: 768px) and (max-width: 991.98px) { 
    .about-me {
        top: 13vh;
        .aboutMe-item {
            .aboutMe-name {
                border-left: none;
                padding: none;
                h1 {
                    font-size: 2.2rem;
                }
                h2 {
                    font-size: 1.6rem;
                }
            }
            &:nth-child(2){
                display: block;
                height: 200px;
                overflow-x: auto;
                h3{
                    font-size: 2rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
    
        }
    }
 }

// Large devices (desktops, less than 1200px)
@media only screen and (min-width: 991px) and (max-width: 1199.98px) {
    .about-me {
        top: 20vh;
        .aboutMe-item {
            .aboutMe-name {
                border-left: none;
                padding: none;
                h1 {
                    font-size: 2.6rem;
                }
                h2 {
                    font-size: 1.6rem;
                }
            }
            &:nth-child(2){
                p {
                    font-size: 0.8rem;
                }
            }
    
        }
    }
}