<nav>
  <a href="#">
    <img class="navbar-logo" src="https://i.ibb.co/ZgHrxsL/logo-key2-trimmed.png" alt="logo-key2-trimmed">
  </a>
  <ul class="nav-links nav-desktop-menu">
    <li>
      <a href="#whatIDo">What I do</a>
    </li>  
    <li>
      <a href="#workExperience">Work Experience</a>
    </li>
  </ul>
  <app-contact-info class="nav-desktop-menu"></app-contact-info>
  <div class="nav-mobile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a href="#whatIDo" mat-menu-item >
        What I Do
      </a>
      <a href="#workExperience" mat-menu-item >
        Work Experience
      </a>
    </mat-menu>
  </div>
</nav>