//Variables
$breakpoint-tablet: 820px;

nav {
    padding: 25px 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 60px;
    position: sticky;
    animation: topIn 1.5s;
    .navbar-logo {
        height: 80px;
        cursor: pointer;
    }
    .nav-links {
        list-style: none;
        font-family: Staatliches,cursive;
        li {
            display: inline-block;
            padding: 0 35px;
            a {
                transition: all 0.4s ease 0s;
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                &:hover{
                    color: #fd6060;
                }
            }
        }
    }
    .nav-mobile-menu {
        display: none;
        .nav-menu-mobile-link {
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    nav{
        padding: 25px 10px;
        .nav-desktop-menu {
            display: none;
        }
        .navbar-logo {
            height: 55px;
            cursor: pointer;
        }
        .nav-mobile-menu {
            display: block;
            button {
                span {
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }
    
}

@keyframes topIn {
    from {
        transform: translate(0,-100%);
    }

    to {
        transform: translate(0,0);
    }
}