@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
//Variables
$breakpoint-tablet: 820px;
footer {
    .footer-content {
        background: #2c2c2c;
        padding: 25px 50px;
        display: flow-root;
        text-align: center;
        height: 330px;
        position: sticky;
        .footer-logo {
            height: 65px;;
            cursor: pointer;
        }
        .footer-links {
            list-style: none;
            padding-left: 0px;
            li {
                display: inline-block;
                padding: 0 10px;
                a {
                    transition: all 0.4s ease 0s;
                    text-decoration: none;
                    color: white;
                    font-size: 1.2rem;
                    &:hover{
                        color: #fd6060;
                    }
                }
            }
        }
    }

    .footer-quote {
        color: #797979;
        font-family: "Staatliches", cursive;
        font-size: 1.3rem;
        transition: 1s;
        width: 350px;
        display: inline-block;
        padding: 10px 0px 0px 0px;
        cursor: pointer;
        &:hover {
            transition: 1s;
            color: #e0e0e0
        }
    }
    
    .footer-made-with {
        color: #929191;
        height: 30px;
        justify-content: center;
        display: flex;
        padding: 20px;
        p {
            span {
                a {
                    color: #929191;
                    text-decoration: none;
                    transition: .5s;
                    .footer-angular-icon:hover {
                        transition: .5s;
                        color: #fd6060;
                    }
                }
            }
        }
    }

    .footer-designed-by {
        color: #9a9a9a;
        height: 30px;
        justify-content: center;
        display: flex;
        padding: 10px 0px 0px 0px;
        p {
           
            span {
                a {
                    text-decoration: none;
                    color: white;
                    transition: .5s;
                    &:hover {
                        transition: .5s;
                        color: #fd6060;
                    }
                }
            }
        }
    }
}




@media (max-width: $breakpoint-tablet) {
    nav{
        .nav-desktop-menu {
            display: none;
        }
        .nav-mobile-menu {
            display: block;
        }
    }
    
}

@keyframes topOut {
    from {
        opacity: 0;
        transform: translate(0,100%);
    }

    to {
        opacity: 1;
        transform: translate(0,0);
    }
}